<h2>Reporter output</h2><table><tr><td>Clicked on bank manager login tab [[ChromeDriver: chrome on WINDOWS (33ca0777a64ae313f747dad2e6aa1e3e)] -> xpath: //button[contains(text(),'Bank Manager Login')]]</td></tr>
<tr><td>Clicked on add customer tab Proxy element for: DefaultElementLocator 'By.xpath: //button[@ng-click='addCustomer()']'</td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\Manas Vibhakar\IdeaProjects\xyzpftv1/test-output/html/bankManagerShouldAddCustomerSuccessfullyTue_Dec_13_21_25_42_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td><br></td></tr>
<tr><td><a target = "_blank" href=C:\Users\Manas Vibhakar\IdeaProjects\xyzpftv1/test-output/html/bankManagerShouldAddCustomerSuccessfullyTue_Dec_13_21_25_42_GMT_2022.jpg><img src=C:\Users\Manas Vibhakar\IdeaProjects\xyzpftv1/test-output/html/bankManagerShouldAddCustomerSuccessfullyTue_Dec_13_21_25_42_GMT_2022.jpg height=200 width=200></img></a></td></tr>
<tr><td>Clicked on bank manager login tab [[ChromeDriver: chrome on WINDOWS (9d4552b859a6a845dfd42c8880133ce7)] -> xpath: //button[contains(text(),'Bank Manager Login')]]</td></tr>
<tr><td>Clicked on open account tab [[ChromeDriver: chrome on WINDOWS (9d4552b859a6a845dfd42c8880133ce7)] -> xpath: //button[@ng-click='openAccount()']]</td></tr>
<tr><td>Selected Harry Potter from [[ChromeDriver: chrome on WINDOWS (9d4552b859a6a845dfd42c8880133ce7)] -> id: userSelect]</td></tr>
<tr><td>Selected Pound from [[ChromeDriver: chrome on WINDOWS (9d4552b859a6a845dfd42c8880133ce7)] -> id: currency]</td></tr>
<tr><td>Clicked on process button [[ChromeDriver: chrome on WINDOWS (9d4552b859a6a845dfd42c8880133ce7)] -> xpath: //button[contains(text(),'Process')]]</td></tr>
<tr><td>Accepted popup</td></tr>
<tr><td>Clicked on customer login tab Proxy element for: DefaultElementLocator 'By.xpath: //button[@ng-click='customer()']'</td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\Manas Vibhakar\IdeaProjects\xyzpftv1/test-output/html/customerShouldDepositMoneySuccessfullyTue_Dec_13_21_26_31_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td><br></td></tr>
<tr><td><a target = "_blank" href=C:\Users\Manas Vibhakar\IdeaProjects\xyzpftv1/test-output/html/customerShouldDepositMoneySuccessfullyTue_Dec_13_21_26_31_GMT_2022.jpg><img src=C:\Users\Manas Vibhakar\IdeaProjects\xyzpftv1/test-output/html/customerShouldDepositMoneySuccessfullyTue_Dec_13_21_26_31_GMT_2022.jpg height=200 width=200></img></a></td></tr>
<tr><td>Clicked on customer login tab [[ChromeDriver: chrome on WINDOWS (d381ae9f0f37c879190ad3b9067ce572)] -> xpath: //button[@ng-click='customer()']]</td></tr>
<tr><td>Selected Harry Potter from [[ChromeDriver: chrome on WINDOWS (d381ae9f0f37c879190ad3b9067ce572)] -> id: userSelect]</td></tr>
<tr><td>Clicked on login button [[ChromeDriver: chrome on WINDOWS (d381ae9f0f37c879190ad3b9067ce572)] -> xpath: //button[contains(text(),'Login')]]</td></tr>
<tr><td>Clicked on logout button [[ChromeDriver: chrome on WINDOWS (d381ae9f0f37c879190ad3b9067ce572)] -> xpath: //button[contains(text(),'Logout')]]</td></tr>
<tr><td>Clicked on customer login tab [[ChromeDriver: chrome on WINDOWS (23f5e856f5c72e235887d5be1bb1259f)] -> xpath: //button[@ng-click='customer()']]</td></tr>
<tr><td>Selected Harry Potter from [[ChromeDriver: chrome on WINDOWS (23f5e856f5c72e235887d5be1bb1259f)] -> id: userSelect]</td></tr>
<tr><td>Clicked on login button [[ChromeDriver: chrome on WINDOWS (23f5e856f5c72e235887d5be1bb1259f)] -> xpath: //button[contains(text(),'Login')]]</td></tr>
<tr><td>Clicked on desktop tab [[ChromeDriver: chrome on WINDOWS (23f5e856f5c72e235887d5be1bb1259f)] -> xpath: //button[@ng-click='deposit()']]</td></tr>
<tr><td>Entered amount to deposit 100 in deipsit field [[ChromeDriver: chrome on WINDOWS (23f5e856f5c72e235887d5be1bb1259f)] -> xpath: //input[@ng-model='amount']]</td></tr>
<tr><td>Clicked on deposit button [[ChromeDriver: chrome on WINDOWS (23f5e856f5c72e235887d5be1bb1259f)] -> xpath: //button[text()='Deposit']]</td></tr>
<tr><td>Clicked on withdraw tab [[ChromeDriver: chrome on WINDOWS (23f5e856f5c72e235887d5be1bb1259f)] -> xpath: //button[@ng-click='withdrawl()']]</td></tr>
<tr><td>Entered amount to withdraw 50 in withdraw field [[ChromeDriver: chrome on WINDOWS (23f5e856f5c72e235887d5be1bb1259f)] -> xpath: //input[@ng-model='amount']]</td></tr>
<tr><td>Click to see screenshot</td></tr>
<tr><td><a target = "_blank" href=C:\Users\Manas Vibhakar\IdeaProjects\xyzpftv1/test-output/html/customerShouldWithdrawMoneySuccessfullyTue_Dec_13_21_26_46_GMT_2022.jpg>Screenshot</a></td></tr>
<tr><td><br></td></tr>
<tr><td><br></td></tr>
<tr><td><a target = "_blank" href=C:\Users\Manas Vibhakar\IdeaProjects\xyzpftv1/test-output/html/customerShouldWithdrawMoneySuccessfullyTue_Dec_13_21_26_46_GMT_2022.jpg><img src=C:\Users\Manas Vibhakar\IdeaProjects\xyzpftv1/test-output/html/customerShouldWithdrawMoneySuccessfullyTue_Dec_13_21_26_46_GMT_2022.jpg height=200 width=200></img></a></td></tr>
</table>